<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北京艾德费斯医疗科技有限公司</title>
    <meta name="keywords" content="艾德费斯,医疗科技,北京艾德费斯,艾德费斯医疗科技,临床试验研究,第三方稽查">
    <meta name="description" content="艾德费斯,北京艾德费斯医疗科技有限公司,北京艾德费斯,艾德费斯医疗科技">
    <link rel="stylesheet" href="/public/css/contact/contact.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body>
<div class="nav-top">
    <ul class="clearfix content1040">
        <li class="fl h1-wrapper">
            <h1 class="logo-h1">
                <a href="/" title="艾德费斯"></a>
            </h1>
        </li>
        <li class="fl index">
            <a href="/views/business/index.html">业务介绍</a>
        </li>
        <li class="fl index">
            <a href="/views/about/index.html">关于我们</a>
        </li>
        <li class="fl index">
            <a href="/views/join/index.html">加入我们</a>
        </li>
        <li class="fl index">
            <a href="/views/contact/index.html">联系我们</a>
        </li>
    </ul>
</div>

<div class="banner"></div>
<div class="tab-wrapper content1040 clearfix">
    <ul class="tab-head fl">
        <li class="company-introduction active">
            <p>联系方式</p>
        </li>
    </ul>
    <ul class="tab-body fl">
        <li class="map-wrapper active ">
            <h3>联系方式</h3>
            <p class="map"></p>
        </li>
    </ul>
</div>
<div class="footer">
    <div class="content1040">
        <ul class="clearfix">
            <li class="fl erweima-wrapper">
                <img src="/public/img/webwxgetmsgimg.jpg" class="erweima">
            </li>
            <li class="fl company-addresses">
                <p class="beijing">
                    <span>
                        北京艾德费斯医疗科技有限公司
                    </span>
                    <br>
                    <span>
                        北京市丰台区南四环西路188号十八区25号楼9层903号
                    </span>
                </p>
            </li>
            <li class="contact-methods fl">
                <p>
                    电话：13661080138
                </p>
                <p>
                    Email：BD@aidgcp.com
                </p>
                <p>
                    网址：http://www.aidgcp.com
                </p>
            </li>
        </ul>
        <p class="copyright">
            copyright 2018 北京艾德费斯医疗科技有限公司 版权所有 京ICP备14047540号-4
        </p>
    </div>
</div>
<script src="/public/js/lib/jquery-1.10.1-min.js"></script>
<script src="/public/js/contact/contact-index.js"></script>
</body>
</html>