<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北京艾德费斯医疗科技有限公司</title>
    <link rel="stylesheet" href="/public/css/business/business-index.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body>
<div class="nav-top">
    <ul class="clearfix content1040">
        <li class="fl h1-wrapper">
            <h1>
                <a href="/" title="艾德费斯">艾德费斯</a>
            </h1>
        </li>
        <li class="fl index">
            <a href="/views/business/index.html">业务介绍</a>
        </li>
        <li class="fl index">
            <a href="/views/about/index.html">关于我们</a>
        </li>
        <li class="fl index">
            <a href="/views/join/index.html">加入我们</a>
        </li>
        <li class="fl index">
            <a href="/views/contact/index.html">联系我们</a>
        </li>
    </ul>
</div>

<div class="banner"></div>
<div class="tab-wrapper content1040 clearfix">
    <ul class="tab-head fl">
        <li class="company-introduction active">
            <p>临床试验</p>
        </li>
        <li class="company-culture">
            <p>SMO服务</p>
        </li>
        <li class="manage-team">
            <p>第三方稽查</p>
        </li>
    </ul>
    <ul class="tab-body fl">
        <li class="company-introduction active ">
            <h3>临床试验</h3>
            <p>
                艾德费斯的临床研究部门由众多高素质和经验丰富的监查员和项目经理团队组成，公司具备完善的质量管理和质量控制系统， 确保项目过程符合ICH-GCP和中国GCP的要求，并能获得高质量的临床研究数据，能全面满足国际和国内客户在医药产品在临床试验方面的各类需求。
            </p>
            <p>
                主要服务内容包括但不限于：
            </p>
            <h4>
                药物及医疗器械注册性临床研究
            </h4>
            <ul class="need-list">
                <li>
                    研究者及中心筛选
                </li>
                <li>
                    伦理申请与批准
                </li>
                <li>
                    协议谈判与签署
                </li>
                <li>
                    研究中心启动
                </li>
                <li>
                    研究数据监查
                </li>
                <li>
                    安全性数据上报
                </li>
                <li>
                    研究项目时间、财务、质量管理
                </li>
                <li>
                    医学监查
                </li>
                <li>
                    研究中心管理
                </li>
                <li>
                    研究者、供应商申办方的沟通与协调
                </li>
                <li>
                    研究数据答疑
                </li>
                <li>
                    研究中心关闭
                </li>
            </ul>
            <h4>
                上市后临床研究
            </h4>
            <ul class="need-list">
                <li>
                     再注册Ⅳ期临床试验
                </li>
                <li>
                    中药注射剂上市后再评价
                </li>
                <li>
                    循证医学研究
                </li>
                <li>
                    中药保护临床试验
                </li>
                <li>
                    药物经济学评价
                </li>
                <li>
                    真实世界研究
                </li>
            </ul>
            <h4>
                注册咨询
            </h4>
            <p>
                药物及医疗器械注册法规咨询和临床研究的全方位服务
            </p>
            <ul class="need-list">
                <li>
                    医学咨询
                </li>
                <li>
                    注册风险评估
                </li>
                <li>
                    新产品开发咨询
                </li>
                <li>
                    产品市场前景评估
                </li>
            </ul>

            <h4>
                医学文件撰写
            </h4>
            <ul class="need-list">
                <li>
                    临床研究方案和摘要的设计
                </li>
                <li>
                    临床研究总结报告撰写和审阅
                </li>
                <li>
                    文献检索和临床研究相关文献综述的撰写
                </li>
            </ul>

            <h4>
                安全与警戒
            </h4>
            <ul class="need-list">
                <li>
                    严重、非预期的不良反应
                </li>
                <li>
                    跟踪随访和查询
                </li>
                <li>
                    减少重复报告
                </li>
                <li>
                    安全风险管理
                </li>
                <li>
                    特殊人群的药物安全管理
                </li>
                <li>
                    药物安全警戒中的信号检测
                </li>
            </ul>
            <h4>
                生物等效性
            </h4>
            <p>
                与全国众多临床药理机构建立良好稳定的合作关系，能够确保临床研究项目及时高效开展
            </p>
            <h4>
                数据管理与统计分析
            </h4>
            <p>
                具有国际标准以及符合我国法规要求的数据库，保证临床试验数据的严谨性和可靠性
            </p>
        </li>
        <li class="company-introduction">
            <h3>SMO服务</h3>
            <p>
                临床研究协调员（Clinical Research Coordinator）负责临床中非医学判断类的事务性工作，在研究者的指导下作为整个研究体系的沟通纽带，给予研究者多方面的细节支持，加强临床试验现场管理，提高临床试验质量和进度。我司CRC团队成员有着扎实的英语基础，熟知ICH-GCP及GCP，均经过国家级GCP及公司内部严格的系统培训，有着丰富的项目协作管理经验。
            </p>
            <p>
                主要服务内容包括但不限于：
            </p>
            <ul class="need-list">
                <li>
                    研究中心可行性调研
                </li>
                <li>
                    与伦理委员会（IEC）联系，协助研究者准备和递交伦理文件，管理相关文件
                </li>
                <li>
                    受试者的招募与筛选管理
                </li>
                <li>
                    原始资料收集、整理、汇总
                </li>
                <li>
                    研究数据录入及协助研究者质疑解答
                </li>
                <li>
                    研究文件及文件夹的管理
                </li>
                <li>
                    试验物资管理
                </li>
                <li>
                    研究药物/试验器械的管理
                </li>
                <li>
                    协助安全信息的报告及追踪
                </li>
                <li>
                    实验室样本及辅助检查的管理
                </li>
                <li>
                    配合监查、稽查和视查
                </li>
            </ul>
        </li>
        <li class="company-introduction">
            <h3>第三方稽查</h3>
            <p>
                公司拥有丰富的第三方稽查经验，与全国众多三甲医院建立第三方稽查服务
            </p>
            <p>
                主要服务内容包括但不限于：
            </p>
            <ul class="need-list">
                <li>
                    独立的第三方稽查
                </li>
                <li>
                    根据稽查报告提供可行性解决方案
                </li>
                <li>
                    搭建临床研究质量体系
                </li>
            </ul>
        </li>

    </ul>
</div>
<div class="footer">
    <div class="content1040">
        <ul class="clearfix">
            <li class="fl erweima-wrapper">
                <img src="" alt="" class="erweima">
            </li>
            <li class="fl company-addresses">
                <p class="beijing">
                    <span>
                        北京艾德费斯医疗科技有限公司
                    </span>
                    <br>
                    <span>
                        北京市丰台区南四环西路188号十八区25号楼9层903号
                    </span>
                </p>
            </li>
            <li class="contact-methods fl">
                <p>
                    电话：18911282657
                </p>
                <p>
                    Email：zhangchengfang@aidgcp.com
                </p>
                <p>
                    网址：http://www.aidgcp.com
                </p>
            </li>
        </ul>
        <p class="copyright">
            copyright 2018 北京艾德费斯医疗科技有限公司 版权所有 京ICP备14047540号-4
        </p>
    </div>
</div>
<script src="/public/js/lib/jquery-1.10.1-min.js"></script>
<script src="/public/js/lib/slide/responsiveslides.js"></script>
<script src="/public/js/business/business-index.js"></script>
</body>
</html>