<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北京艾德费斯医疗科技有限公司</title>
    <meta name="keywords" content="艾德费斯,医疗科技,北京艾德费斯,艾德费斯医疗科技,临床试验研究,第三方稽查">
    <meta name="description" content="艾德费斯,北京艾德费斯医疗科技有限公司,北京艾德费斯,艾德费斯医疗科技">
    <link rel="stylesheet" href="/public/css/about/about-index.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body>
<div class="nav-top">
    <ul class="clearfix content1040">
        <li class="fl h1-wrapper">
            <h1 class="logo-h1">
                <a href="/" title="艾德费斯"></a>
            </h1>
        </li>
        <li class="fl index">
            <a href="/views/business/index.html">业务介绍</a>
        </li>
        <li class="fl index">
            <a href="/views/about/index.html">关于我们</a>
        </li>
        <li class="fl index">
            <a href="/views/join/index.html">加入我们</a>
        </li>
        <li class="fl index">
            <a href="/views/contact/index.html">联系我们</a>
        </li>
    </ul>
</div>
<div class="banner"></div>
<div class="tab-wrapper content1040 clearfix">
    <ul class="tab-head fl">
        <li class="company-introduction active">
            <p>公司简介</p>
        </li>
        <li class="company-culture">
            <p>企业文化</p>
        </li>
        <li class="manage-team">
            <p>团队架构</p>
        </li>
        <li class="our-advantages">
            <p>主营业务</p>
        </li>
    </ul>
    <ul class="tab-body fl">
        <li class="company-introduction active ">
            <h3>公司简介</h3>
            <p class="introduction">
                北京艾德费斯医疗科技有限公司坐落于北京市丰台区总部基地18区，是一家专注于为医疗器械、药物研发企业提供临床试验全过程服务与解决方案的技术服务公司。公司自成立以来，致力于为医药及医疗器械客户提供高质量和高效率的注册及研发服务，协助客户降低研发风险、节约研发经费，推进产品市场化进程。公司主营体系分为三大部分，即合同研究组织（CRO）、临床资源管理组织（SMO）和第三方稽查服务（Audit），构筑了完整的临床研究产业链服务体系。在国内多个主要城市设有服务网点，拥有国际化专业团队，建立了国际标准的操作规程（SOP），并拥有独特的项目信息管理系统。公司自创立之初便努力打造“信息化、智能化、高效化--CRO
                & SMO”，为广大客户提供更加便捷的服务。
            </p>
        </li>
        <li class="company-culture">
            <h3>
                愿景
            </h3>
            <p>
                成为一家面向医药、器械行业企业提供研发配套服务的卓越企业
            </p>
            <h3>
                使命
            </h3>
            <p>
                连接客户、研究者与研究机构的桥梁
            </p>
            <h3>
                我们的经营理念
            </h3>
            <p>
                以科学、严谨、专业的态度，提供规范、优质、高效的医疗领域科研配套服务。
            </p>
            <h3>
                我们的核心价值观
            </h3>
            <p>
                求真务实，精益求精
            </p>
        </li>
        <li class="our-team">
            <h3>组织架构</h3>
            <p class="organization-arch"></p>
            <h3>学历组成</h3>
            <p class="staff-edu-condition"></p>
        </li>
        <li class="our-bussiness">
            <h3>
                主营业务
            </h3>
            <p class="main-bussiness"></p>
            <h3>
                项目经验
            </h3>
            <p class="project-experience"></p>
        </li>
    </ul>
</div>
<div class="footer">
    <div class="content1040">
        <ul class="clearfix">
            <li class="fl erweima-wrapper">
                <img src="/public/img/webwxgetmsgimg.jpg" class="erweima">
            </li>
            <li class="fl company-addresses">
                <p class="beijing">
                    <span>
                        北京艾德费斯医疗科技有限公司
                    </span>
                    <br>
                    <span>
                        北京市丰台区南四环西路188号十八区25号楼9层903号
                    </span>
                </p>
            </li>
            <li class="contact-methods fl">
                <p>
                    电话：13661080138
                </p>
                <p>
                    Email：BD@aidgcp.com
                </p>
                <p>
                    网址：http://www.aidgcp.com
                </p>
            </li>
        </ul>
        <p class="copyright">
            copyright 2018 北京艾德费斯医疗科技有限公司 版权所有 京ICP备14047540号-4
        </p>
    </div>
</div>
<script src="/public/js/lib/jquery-1.10.1-min.js"></script>
<script src="/public/js/business/business-index.js"></script>
</body>
</html>