<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北京艾德费斯医疗科技有限公司</title>
    <meta name="keywords" content="艾德费斯,北京艾德费斯医疗科技,医疗科技">
    <meta name="description" content="北京艾德费斯医疗科技,医疗科技">
    <link rel="stylesheet" href="/public/css/join/join.css">
    <link rel="shortcut icon" href="/public/favicon.ico">
</head>
<body>
<div class="nav-top">
    <ul class="clearfix content1040">
        <li class="fl h1-wrapper">
            <h1 class="logo-h1">
                <a href="/" title="艾德费斯"></a>
            </h1>
        </li>
        <li class="fl index">
            <a href="/views/business/index.html">业务介绍</a>
        </li>
        <li class="fl index">
            <a href="/views/about/index.html">关于我们</a>
        </li>
        <li class="fl index">
            <a href="/views/join/index.html">加入我们</a>
        </li>
        <li class="fl index">
            <a href="/views/contact/index.html">联系我们</a>
        </li>
    </ul>
</div>
<div class="banner"></div>
<div class="tab-wrapper content1040 clearfix">
    <ul class="tab-head fl">
        <li class="company-introduction active">
            <p>临床高级项目经理</p>
        </li>
        <li class="company-culture">
            <p>项目经理</p>
        </li>
        <li class="manage-team">
            <p>床监查员</p>
        </li>
    </ul>
    <ul class="tab-body fl">
        <li class="active">
            <h3>职位概要</h3>
            <p>
                全面负责临床试验组织管理方面工作。制定并执行提升公司技术技能和知名度的系列方案；协助配合商务发展部开展相应的业务洽谈与商务推广活动；执行并完善适应公司发展规划的内部管理制度和人才梯队机制。
            </p>
            <h3>
                职责与工作内容
            </h3>
            <p>
                1. 组建项目组、安排项目组成员的日常工作；<br/>
                2. 组织协调本部门内部事务（项目、人员培训及人员管理）；<br/>
                3. 负责带领临床研究小组开展项目工作，并对项目组成员进行项目培训；<br/>
                4. 协调与部门内部研究小组之间的合作；<br/>
                5. 提交项目计划书(包括质量标准、时间计划、费用预算、风险控制)，报医学总监审核并经总经理批准后执行；<br/>
                6. 管理、监控并定期向上级汇报项目执行情况，包括质量、进度、经费、风险等；<br/>
                7. 指导并协调各中心的日常监查工作，审阅监查报告并给出指导性建议；<br/>
                8. 直接负责或指导并参与项目，监控执行情况（包括质量、进度、经费），处理突发事件并及时向直接上级汇报；<br/>
                9. 组织、安排临床试验相关会议；<br/>
                10. 准备及印刷相关试验资料；<br/>
                11. 就项目问题与专家进行联络，并维护客户及专家关系；<br/>
                12. 与公司内部其他部门协调项目内部的工作；<br/>
                13. 协助及配合上级经理组织制定并及时更新相关的标准操作规程（SOP）；<br/>
                14. 承担部门的日常培训以及公司安排的有关培训工作；<br/>
                15. 组织制定并及时更新相关的标准操作规程（SOP）；<br/>
                16. 预算外费用的初审；<br/>
                17. 维护客户及专家关系；<br/>
                18. 对部门培训计划提出建议和意见；<br/>
                19. 承担部门日常培训以及公司安排的有关培训工作；<br/>
                20. 完成上级临时交办的其它任务。<br/>
            </p>
            <h3>
                任职资格
            </h3>
            <p>
                教育背景：<br>
                医学、药学或相关专业本科以上学历，GCP证书。<br>
                经 验：<br>
                完整操作2项(含)以上注册临床试验或具有5年以上临床研究经验，具有管理5人以上团队的工作经验。<br>
                素质与能力：<br>
                良好的沟通、协调能力，良好的分析、组织及应变能力。<br>
                技能技巧：<br>
                具备临床研究经理级技术能力。<br>
                态 度：<br>
                乐观向上，积极主动，勇于承担责任。<br>
            </p>
        </li>
        <li>
            <h3>
                职位概要
            </h3>
            <p>
                组织实施公司在临床试验组织管理方面的项目，提升公司在临床试验领域的技术技能，保证产品顺利注册。
            </p>
            <h3>
                职责与工作内容
            </h3>
            <p>
                1. 组建项目组、安排项目组成员的日常工作；<br>
                2. 提交项目计划书(包括质量标准、时间计划、费用预算、风险控制)，报上级经理和医学总监审核并经总经理批准后执行；<br>
                3. 在上级经理指导下撰写病例报告表、办事处主管、培训资料等相关文件；<br>
                4. 对项目组成员进行项目培训；<br>
                5. 管理、监控并定期向主管汇报项目执行情况，包括质量、进度、经费、风险等；<br>
                6. 指导并协调各中心的日常监查工作，审阅监查报告并给出指导性建议；<br>
                7. 在上级经理指导下处理突发事件；<br>
                8. 组织、安排临床试验相关会议；<br>
                9. 准备及印刷相关试验资料；<br>
                10. 就项目问题与客户和专家进行联络，并维护客户及专家关系；<br>
                11. 与公司内部其他部门（医学事务部、注册部）协调项目内部的工作；<br>
                12. 协助及配合上级经理组织制定并及时更新相关的标准操作规程（SOP）；<br>
                13. 承担部门的日常培训以及公司安排的有关培训工作；<br>
                14. 完成上级临时交办的其它任务。<br>
            </p>
            <h3>
                任职资格
            </h3>
            <p>
                教育背景：<br>
                医学、药学或相关专业本科以上学历，如经验、能力方面具有突出优势者，可适当放宽学历要求；GCP证书。<br>
                经 验：<br>
                具有1年以上临床研究经验，负责或参与过临床研究主要环节(会议组织、研究设计、临床监查等)的工作。<br>
                素质与能力：<br>
                良好的沟通、协调、组织与应变能力。<br>
                技能技巧：<br>
                具备临床研究助理(含)以上技术能力。<br>
                态 度：<br>
                态度乐观向上，工作积极主动，勇于承担责任。<br>
            </p>
        </li>
        <li>
            <h3>
                职位概要
            </h3>
            <p>
                协助项目经理组织实施公司在临床试验的项目，提升公司在临床试验领域的技术技能和确保试验数据的真实性、可靠性和可溯源性。
            </p>
            <h3>
                职责与工作内容
            </h3>
            <p>
                1. 协助项目经理完成项目评估及试验进度的起草；<br>
                2. 筛选研究机构，负责组织临床研究相关会议；<br>
                3. 协助完成相关文件的设计与报告阶段的文献检索及翻译；<br>
                4. 负责项目监查及监查报告的撰写；<br>
                5. 及时、准确报告所有不良事件；<br>
                6. 处理SAE,与试验中心协议的洽谈；<br>
                7. 负责与临床研究项目组成员保持良好有效的沟通；<br>
                8. 负责研究者的培训。<br>
            </p>
            <h3>
                任职资格
            </h3>
            <p>
                教育背景：<br>
                医学、临床药学、药理或相关专业本科以上学历，如经验、能力方面具有突出优势者，可适当放宽学历要求；GCP证书。<br>
                经    验：<br>
                具有1年以上临床项目工作经验。熟悉GCP及相关法规，熟悉临床项目工作流程，具备扎实的医学专业知识及丰富的临床医学方面的专业知识；<br>
                素质与能力：<br>
                善于表达、沟通和协调，具有较强的责任心、组织与应变能力。<br>
                技能技巧：<br>
                具有分析问题的逻辑能力，英语、计算机操作熟练。<br>
                态    度：<br>
                态度乐观向上，工作积极主动，勇于承担责任。<br>
            </p>
        </li>
    </ul>
</div>
<div class="footer">
    <div class="content1040">
        <ul class="clearfix">
            <li class="fl erweima-wrapper">
                <img src="/public/img/webwxgetmsgimg.jpg" class="erweima">
            </li>
            <li class="fl company-addresses">
                <p class="beijing">
                    <span>
                        北京艾德费斯医疗科技有限公司
                    </span>
                    <br>
                    <span>
                        北京市丰台区南四环西路188号十八区25号楼9层903号
                    </span>
                </p>
            </li>
            <li class="contact-methods fl">
                <p>
                    电话：13661080138
                </p>
                <p>
                    Email：BD@aidgcp.com
                </p>
                <p>
                    网址：http://www.aidgcp.com
                </p>
            </li>
        </ul>
        <p class="copyright">
            copyright 2018 北京艾德费斯医疗科技有限公司 版权所有 京ICP备14047540号-4
        </p>
    </div>
</div>
<script src="/public/js/lib/jquery-1.10.1-min.js"></script>
<script src="/public/js/join/join-index.js"></script>
</body>
</html>